* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
#header {
    width: 100%;
    height: 100vh;
}
.container-1 {
    padding: 2px 2%;
    position: relative;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 60px;
    margin-top: 10px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 25px;
}
nav ul li a {
    color: white;
    margin-right: 40px;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(221, 119, 191);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after {
    width: 100%;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
    height: calc(100vh - 80px);
}
.header-text {
    width: 60%;
    padding: 25px;
}

.header-text h1 {
    font-size: 70px;
}
.header-text h1 span {
    color: rgb(221, 119, 191);
}
.header-text p {
    font-size: 20px;
} 

.header-images {
    width: 40%;
    text-align: center;
    margin-right: 50px;
}
.header-images ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.header-images li {
    font-size: 50px;
    margin: 10px;
    opacity: 0; 
    animation: fadeIn 1s ease-in-out forwards; 
}

.header-images ul li{
    margin-bottom: 40px;
}

.header-images .html-icon {
    animation-delay: 0s;
    color: rgb(247, 104, 10);
}
.header-images .css-icon {
    animation-delay: 1s;
    color: #264de4;
    
}
.header-images .js-icon {
    animation-delay: 2s;
    color: #eff30f;
}
.header-images .react-icon {
    animation-delay: 3s;
    color: #61dafb;
}
.header-images .git-icon {
    animation-delay: 4s;
    color: #f1502f;;
}
.header-images .node-icon {
    animation-delay: 5s;
    color: #48ad3f;
}
.header-images .bolt-icon {
    animation-delay: 6s;
    color: #ffc107;
}
.header-images .branch-icon {
    animation-delay: 7s;
    color: #6f42c1;
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


                               /* about */

#about {
    width: 100%;
    margin-top: 100px;
}

.container-2 {
    margin: 0 auto;
    max-width: 800px;
}

.container-2 p{
    padding-top: 20px;
    margin-right: 5px;
}

.description {
    list-style: none; 
    padding: 0; 
    margin-top: 10px; 
   
}

.description .subtitle{
    font-size: 23px;
    margin-top: 45px;
    text-align: left;
}

.description li {
    margin-top: 0; 
    margin-bottom: -3px; 
    padding: 0; 
    text-align: left;
    
}

.dot{
    color:  rgb(221, 119, 191);
    font-size: 20px;
    margin-right: 5px;
}
.dot2{
    color:  rgb(221, 119, 191);
    font-size: 30px;
    margin-right: 5px;
}

.dot1{
    color:  rgb(221, 119, 191);
    font-size: 40px;

}




/* portfolio */

#portfolio{
    padding: 10px 0;
    margin-top: 90px;
}

.subtitle{
    font-size: 45px;
    text-align: center;
    padding-bottom: 20px;
    color: rgb(221, 119, 191);
}

.work-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-left: 5px;
    margin-top: 10px;
    justify-content: center;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 400px;
    width: 100%; 
    max-width: 400px; 
    margin: 0 auto; 
}

.work img{
    border-radius: 10px;
    margin: 20px;
    height: 220px;
    width: 90%;
    display: block;
    transition: transform 0.5s;
    
}

.layer{
    width:100%;
    height: 0;
    background: linear-gradient(rgb(0,0,0,0.6), rgb(221, 119, 191));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.8s;
}

.layer a img{
    width: 30px;
    height: 30px;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 5px;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

/* contact */

#contact {
    padding: 70px 0;
    
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; 
}

.container-4 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.contact-left{
    flex-basis: 35%;
    margin-left: 40px;
    margin-top: 0; 
   
}

.contact-right{
    flex-basis: 60%;
}


.contact-left p{
    margin-top: 20px;
}

.contact-left p i{
    margin-right: 10px;
    font-size: 15px;
    color: rgb(221, 119, 191);

}

.social-icons{
    margin-top: 20px;
}

.social-icons a{
    text-decoration: none;
    font-size: 25px;
    margin-right: 5px;
    color: rgb(94, 95, 97);
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: rgb(221, 119, 191);
    transform: translateY(-5px);
}

.btn{
    width: 120px;
    height: 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 25px;
    border: 1px;
    background: rgb(221, 119, 191);
    color: black;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.5s; 
}

.btn:hover{
    background: rgb(243, 61, 188);
    
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: rgb(54, 51, 51);
    padding: 10px;
    margin: 10px 0;
    color: rgb(170, 164, 164);
    font-size: 15px;
    border-radius: 10px;
}

nav .fas{
    display: none;
}

#msg{
    color: rgb(119, 122, 124);
    margin-top: 15px;
    display: block;
}


@media (max-width: 480px) {
    .header-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .header-text {
        margin-top: 80%;
        margin-left: 15px;
        width: 100%;
    }
    .header-text h1 {
        font-size: 24px; 
    }
    .header-text p {
        font-size: 16px; 
    }

    .header-images {
        width: 100%;
        margin-top: 20px;
    }
    .header-images ul {
        justify-content: center;
        margin-left: 24px;
    }
    .header-images li {
        width: 20px;
    }
}




/* Estilos para pantallas medianas */
@media (min-width: 769px) and (max-width: 1024px) {
    .header-content {
        flex-direction: row;
        align-items: center;
        margin-left: 0;
        text-align: left;
    }
    .header-text {
        width: 60%;
    }
    .header-images {
        width: 35%;
    }
}





@media only screen and (max-width: 600px) {
    .logo{
        width: 40px;
        margin-left: 15px;
    }

    .header-text{
        margin-top: 40%;
        margin-left: 15px;
        width: 100%;
    }

    .header-text h1{
        font-size: 60px;
    }

    nav .fas{
        display: block;
        font-size: 25px;
        color: rgb(221, 119, 191);
        margin-right: 15px;
    }

    nav ul{
        background: black;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }
    
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .header-content {
        flex-direction: column;
        margin-left: 0;
        text-align: center;
    }

    .header-images {
        width: 100%;
        margin-top: 20px;
    }
    .header-images ul {
        justify-content: center;
        margin-bottom: 300px;
    }

    .header-images li{
        font-size: 40px;
        margin-left: 15px;
    }

}

/* about */

@media screen and (max-width: 600px) {

    .subtitle{
        font-size: 40px;
    }
    .container-2 {
       
        padding: 10px;
        flex-basis: 100%;
    }

    .container-2 p{
        font-size: 15px;
        margin-right: 5px;
        padding-left: 10px;
    }

    .container-2 h2 {
        font-size: 20px;
        text-align: center;
    }
    .container-2 h1, .container-2 h2, .container-2 p {
        display: block;
        margin: 0 auto;
    }
    .description li{
        padding-left: 10px;
    }

    /* .description .subtitle{
        font-size: 6px;
    } */
}



@media only screen and (max-width: 1200px) {
    .work-list {
        grid-template-columns: repeat(2, 1fr); 
        margin-left: 0; 
    }
}

@media only screen and (max-width: 600px) {

    #portfolio{
        padding-top: 10px;
        
    }
    .work-list {
        grid-template-columns: 1fr; 
    }

    .work {
        margin-bottom: 20px; 
        padding: 10px;
    }

    .subtitle {
        font-size: 30px; 
    }

    .work img {
        margin: 10px auto; 
        width: 100%; 
        height: auto; 
    }

    .layer {
        padding: 0; 
    }

    .layer h3 {
        font-size: 20px; 
    }

    .layer p {
        font-size: 16px; 
        padding: 5px;
    }

    .contact-left, .contact-right{
        flex-basis: 100%;
    }
}


/* contact */

@media only screen and (max-width: 768px) {
    .contact-left, .contact-right {
        flex-basis: 100%; 
        margin-left: 0; 
    }

    .contact-left {
        text-align: center; 
    }

    .contact-right {
        margin-top: 20px; 
    }

    .btn {
        width: 100%; 
    }
}

@media only screen and (max-width: 480px) {

    #contact{
        padding-top: 10px;
    }
    .subtitle {
        font-size: 40px; 
    }

    .contact-left p {
        font-size: 16px;
    }

    .social-icons a {
        font-size: 20px;
    }

    .btn {
        padding: 10px 15px;
    }

    form input, form textarea {
        padding: 8px;
    }
}

